﻿
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
         <div class="col-6 text-end">
             <a asp-controller="Product" asp-action="Upsert" class="btn-primary btn">
               <i class="bi bi-plus-circle"></i>  Create New Product
             </a>
        </div>
    </div>
</div>
<br>
<table class="table table-bordered table-striped" style="width:100%" id="ProductTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Cateogry</th>
            <th>Cover Type</th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>


</table>

@section Scripts{
    <script src="~/js/Product/product.js"> </script>

}