﻿@model Union_ERP.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Upsert";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
     <div class="row">
         <div class="col-sm-10">
         <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
          <div class="mb-3">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" rows="3" class="form-control"> </textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="Product.ISBN"></label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="Product.Author"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="Product.ListPrice"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
            <div class="mb-3">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
          </div>
            <div class="mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="imgUpload" asp-for="Image"  class="form-control" />
     
             </div>
            <div class="mb-3">
            <label asp-for="Product.CategoryId"></label>
           <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
               <option disabled>--Select Category</option>  
           </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.CoverTypeId"></label>
           <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-select">
               <option disabled>--Select Cover Type</option>
           </select>
            <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
        </div>
         </div>
         <div class="col-sm-2">
             <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
         </div>

     </div>

    @if(Model.Product.Id != 0)
    {
        <button class="btn btn-primary" type="submit">Update</button>
    }
    else
    {
         <button class="btn btn-primary" type="submit" onclick="return ValidateInput()">Create</button>
    }

        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    
</form>
@section Scripts{
    
    <script type="text/javascript">
       
        function ValidateInput(){
            if($("#imgUpload").val() == ""){
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Please Upload an Image!',
               
                });

                return false;
            }
            return true;
        }
    </script>
}