﻿@model Union_ERP.Models.District
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="Create">
    <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Add District</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter District Name" />
              </div>
                  <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Create new District" class="btn btn-success float-right">
        </div>
      </div>
            </div>
            <!-- /.card-body -->
       
          </div>
        
</form>