﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>SL</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    
@section Scripts{
     <script>
  

              var dataTable;


                $(document).ready(function () {
                         debugger;
                         loadDataTable();
                });

            function loadDataTable() {
                debugger;
                dataTable = $('#example2').DataTable({
                    "ajax": {
                        "url":"/Admin/District/GetAll"
                    },
                    "columns": [
                        {"data": "id"},
                        { "data": "name"},
                         {
                            "data": "id",
                            "render": function (data) {
                                return '<div class="w-75 btn-group" role = "group">'
                                    + '<a href="/Admin/District/Edit?Id=' + data + '" class="btn btn-primary mx-2" > <i class="bi bi-pencil-square"></i> Edit</a>' +
                                    '<a href="#" onClick="Delete(' + data + ')" class="btn btn-danger"><i class="fas fa-trash"></i></a></div > '
                            }
                        },
                    ]

                });
            }

            
            function Delete(id) {
               
            debugger;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/Admin/District/Delete/" + id,
                        type: 'DELETE',
                        success: function (data)
                        {
                            if (data.success) {
                                dataTable.ajax.reload();
                                toastr.success(data.message);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    })
                }
            })
        }
</script>

}
