﻿@model IEnumerable<Union_ERP.Models.CoverType>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cover Type List</h2>
        </div>
         <div class="col-6 text-end">
             <a asp-controller="CoverType" asp-action="Create" class="btn-primary btn">
               <i class="bi bi-plus-circle"></i>  Create New Cover Type
             </a>
        </div>
    </div>
</div>
<br>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
          
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var coverType in Model)
        {
         <tr>
            <td>@coverType.Name</td>
          
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@coverType.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@coverType.Id" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                </div>
            </td>
        </tr>
        }

    </tbody>


</table>
