﻿@model Union_ERP.Models.ViewModels.ShoppingCart


<div class="container m-auto">
  <div class="m-4 mainWindow shadow bg-white-rounded p-1">
    
   <form>
        <!-- Window 1-->
    <div class="d-flex flex-row flex-no-wrap bg-1">
      <!-- Product Image Section-->
      <div class="flex-grow-1 m-2">
      <img class="product-img p-2" src="@Model.Product.ImageUrl">
      </div>
      <!-- Product Image Section-->
      
      <!-- Product Desc Section-->
      <div class="flex-grow-1 m-2 p-1">
        <div class="d-flex flex-column">
          <div class="desc p-1 d-flex justify-content-between">
            <h4>@Model.Product.Name<h4>
              <h4>$@Model.Product.Price<h4>
          </div>
          <div class="seller-name p-1">
            <small>@Model.Product.Author</small>
          </div>
          <div class="item-desc">
              @Model.Product.Description
          </div>
        <div class="p-2">
            <label>Quantity</label>
             <input class="form-control" type="number" asp-for="Count" />
          </div>
          <div class="sizes mt-1 pr-1">
            <button type="submit" class="btn btn-primary">Add TO Cart</button>
            <a asp-action="Index" type="button" class="btn btn-danger">Back To Home</a>
          </div>
            
        </div> 
      </div>
      <!-- Product Image Section--> 
    </div>
   
   </form>

    
    
        
  </div>
</div>