﻿@model IEnumerable<Product>

    <div class="row pb-3">
       @foreach(var product in Model)
        {
        
            <div class="col-lg-3 col-md-6">
                <div class="p-2 row">
                    <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                           <div class="card"> 
                               <img src="@product.ImageUrl" class="card-img-top rounded" style="height:370px" />
                               <div class="card-body">
                                    <div class="pl-1">
                                    <p class="card-title h5 text-primary">@product.Name</p>
                                    <p class="card-title text-info text-primary">@product.Author</p>
                                 </div>
                                  <div class="pl-1">
                                    <p class="">List Price: <stike>$@product.ListPrice.ToString("0.00")</stike></p>
                                 </div>
                                  <div class="pl-1">
                                    <p class="">As low as: <b>$@product.Price.ToString("0.00")</b></p>
                                 </div>
                             </div>
                           </div>
                           <div>
                                <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id" >
                                    Details
                                </a>
                           
                           </div>
                    </div>
                </div>
            </div>
        }

    </div>